In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
Food_and_agric = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="iso-8859-1")

In [3]:
Food_and_agric.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

Q11. What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [4]:
Food_and_agric.groupby("Item")["Y2014", "Y2017"].sum()

C:\Users\DELL\AppData\Local\Temp/ipykernel_5048/377189819.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Food_and_agric.groupby("Item")["Y2014", "Y2017"].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

Q12. What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [5]:
Food_and_agric.describe()["Y2015"]

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

Q13. What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [6]:
Food_and_agric.isnull().sum()["Y2016"]

1535

In [7]:
Food_and_agric["Y2016"].shape

(60943,)

In [8]:
percentage_null = 1535 / 60943 * 100
print(percentage_null)

2.5187470259094566

Q14. Which year had the highest correlation with ‘Element Code’?

In [9]:
Food_and_agric.corr()["Element Code"].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [10]:
Q17.

SyntaxError: invalid syntax (Temp/ipykernel_5048/622688348.py, line 1)

In [ ]:
Food_and_agric.groupby("Element")["Y2018"].sum().sort_values()

In [ ]:
Food_and_agric.groupby(['Element', 'Area'])['Y2018'].aggregate('sum').unstack()

Q20. What is the total number of unique countries in the dataset?

In [ ]:
len(Food_and_agric["Area"].unique())